* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgba(12, 12, 12, 0.856);
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #cc1b1b;
    text-decoration: none;
    font-size: 22px;
}

header div .valorant-logo {
    height: 120px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: black;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.picture {
    margin-bottom: 32px;
    width: 900px;
}

#agents-valorant, .texts {
    margin-left: 16px;
    text-align: justify;
}

.agent {
    width: 550px;
    margin-bottom: 20px;
}

#feedback .container {
    display: block;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #6b8deb;
    transform: scale(1.1);
    transition: all 1.5s ease-in;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: rgba(12, 12, 12, 0.856);
    color: #cc1b1b;
    margin-top: 10px;
    padding: 16px 0;
}